README~
./Debug/*.o
./Release/*.o
.gitignore~
Debug/
Release/
Profile/
test00/
test01/
test02/
test02/*.xyz
test03/
test03/*.xyz
test04/*
cna/cna.pro*
cna/qcna*
cna/objrel/*
cna/Makefile.rel~
cna/Makefile.rel12*
bin/
examples/1/*.xyz
examples/2/*.xyz

